.card:empty {
    height: 565px;
}

.custom-popover {
    width: 500px;
    height: 200px;
    cursor: pointer;
}

.custom-popover.dragging {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.popover-header {
    background-color: #007bff !important;
    color: #fff !important;
    padding: 10px !important;
    text-align: center;
    cursor: grab;
}

.popover-header:active {
    cursor: grabbing;
}

.header-text {
    font-size: 18px;
    margin: 0;
}

.popover-button {
    margin: 2px auto !important;
    margin-bottom: 10px !important;
    display: block !important;
    background-color: grey !important;
    color: white !important;
    padding: 7px !important;
}